.recent-projects {
    flex: 1;
    display: flex;
    height: auto;
    margin-top: 4rem;
    padding-top: 6rem;
    flex-direction: column;
    align-items: center;
}

.recent-projects h3 {
    color: var(--white);
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'DM Sans';
}


/* Recent Projects*/
.first-project {
    cursor: pointer;
    width: 84%;
    height: 500px;
    background-color: blue;
    margin-bottom: 4rem;
}

.second-project {
    cursor: pointer;
    width: 84%;
    height: 500px;
    background-color: orange;
    margin-bottom: 4rem;

}

.third-project {
    cursor: pointer;
    width: 84%;
    height: 500px;
    background-color: green;
    margin-bottom: 4rem;
}